.pagination-footer-container ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.pagination-footer-container ul li {
  padding: 9px 18px;
  color: #555;
  border: 1px solid #dedede;
  cursor: pointer;
  margin-right: -1px;
}
.pagination-footer-container ul li:hover {
  background: #eee;
  border-color: #eee;
}
.pagination-footer-container ul li.active {
  background: #106FFF;
  border-color: #106FFF;
  color: #fff;
}
.pagination-footer-container ul li:first-child {
  border-radius: 6px 0 0 6px;
}
.pagination-footer-container ul li:last-child {
  border-radius: 0 6px 6px 0;
  margin-right: 0;
}
