.pagination-footer-container {
    ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;

        li {
            padding: 9px 18px;
            color: #555;
            border: 1px solid #dedede;
            cursor: pointer;
            margin-right: -1px;

            &:hover {
                background: #eee;
                border-color: #eee;
            }

            &.active {
                background: #106FFF;
                border-color: #106FFF;
                color: #fff;
            }

            &:first-child {
                border-top-left-radius: 6px;
                border-bottom-left-radius: 6px;
            }

            &:last-child {
                border-top-right-radius: 6px;
                border-bottom-right-radius: 6px;
                margin-right: 0;
            }
        }
    }
}
