.modal.confirm {
    z-index: 90000;
}

.cst-loading {
    color: transparent !important;
    pointer-events: none;
    position: relative;
}

    .cst-loading::after {
        left: calc(50% - (1em / 2));
        top: calc(50% - (1em / 2));
        position: absolute !important;
        -webkit-animation: spinAround .5s infinite linear;
        animation: spinAround .5s infinite linear;
        border: 2px solid #dbdbdb;
        border-radius: 9999px;
        border-right-color: transparent;
        border-top-color: transparent;
        content: "";
        display: block;
        height: 1em;
        width: 1em;
    }


