@typeparam TItem

@if (Items is null)
{
    @Loading
}
else if (Items.Any())
{
<div class="@BodyContainerCss">
    @foreach (Item item in ItemsList)
    {
    @Body(item.Element);
    }
</div>

    <div class="@ButtonsContainerCss ">
        <div class="left-arrow" @onclick="MoveLeft">
            @Left
        </div>
        <div class="right-arrow" @onclick="MoveRight">
            @Right
        </div>
    </div>
}
else
{
    @Empty
}



