@typeparam TItem

@if (Items is null)
{
    @Loading
}
else if (Items.Any())
{
<div class="@BodyContainerCss">
    @foreach (Item item in ItemsList)
    {
    @Body(item.Element);
    }
</div>
    
@if (!HideButtons) { 
    <div class="@ButtonsContainerCss ">
        <div class="@LeftContainerCss" @onclick="MoveLeft">
            @Left
        </div>
        <div class="@RightContainerCss" @onclick="MoveRight">
            @Right
        </div>
    </div>
}
}
else
{
    @Empty
}



