@typeparam T

<div @attributes="AdditionalAttributes" @onchange="Change">
    <select @onchange="Change">
        @if (Items == null)
        {
            <option disabled selected value="">@DefaultOptionText</option>
        }
        else
        {
            <option selected value="">@DefaultOptionText</option>
            @for (int i = 0; i < Items.Count(); i++)
            {
                <option value="@i">@GetValue(i)</option>
            }
        }
    </select>
</div>